body {
	font-size: 16px;
	color: black;
	background-color: #FEF5E7;
	font-family: 'Rajdhani', sans-serif;
	border-radius: 0;
  border: 0;
}

/*Header Start*/

.container-fluid {
	/*background-color: #F0B27A;*/
	opacity: 0.8;
}

.navbar-nav a {
	color: black;
	margin-top: 0;
	line-height: .75;
	font-size: 1em;
	text-align: center;
}

.navbar-brand h1{
	color: black;
	text-transform: uppercase;
	margin-top: 0;
	line-height: .75;
	font-size: 2.5em;
}

.navbar-brand {
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: blink;
  text-color: gray;
}

.container {
	/*padding: 0 40px 40px 40px;*/
	margin: 0;
	/*background-color: #F0B27A;*/
	opacity: 0.8;
}

.navbar-brand small {
	color: black;
	margin-top: 0;
	line-height: .75;
}

.navbar {
	/*background-color: #F0B27A;*/
	opacity: 0.8;
	border-top: solid #C0C0C0 0.1px;
}

button span {
	color: black;
}

/*Header End*/

/*Main Content Start*/

.jumbotron {
	/*background-color: #FEF5E7;*/
	background: url('../images/main.jpg') top center fixed;
	background-size: cover;
	margin-top: 0;
	padding-top: 20em;
	padding-bottom: 20em;
	border-radius: 0;
  	border: 0;
}

h2 {
	color: white;
	opacity: 0.8;
}

/*Footer*/

.social-media span{
	color: gray;
	font-size: 30px;
	margin: 10px;
	padding-top: 0px;
}

footer {
	margin: 10px;
	padding: 10px;
}

.cr {
	padding-top: 14px;
	padding-right: 30px;
}

.boot {
	color: gray;
	font-size: 30px;
	margin: 10px;
	padding-top: 12px;
	padding-left: 90%;
}